.footer {
    position: relative;
    background-color: #000000;
    border-top: #1a1919;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer .musicplay{
    display: flex;
    align-items: center;
  }
  
  .footer .musicplay div{
    margin: 0px 10px;
  }
  
  .footer .musicplay div p{ 
    font-size: 16px;
  }
  .footer .musicplay div p:hover{ 
    text-decoration: underline;
  }
  
  .footer .musicplay div span{ 
    padding: 1px 0px;
    color: #71717a;
    font-size: 14px;
  }
  
  .addmusic {
    margin: 0px 30px;
    text-decoration: none;
    color: wheat;
  }
  
  .footer .playmusic{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .footer .playmusic div {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .footer .playmusic div .playmm {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 4px;
    border-radius: 9999px;
  }
  
  .footer .playmusic .slicerplay {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .footer .playmusic .slicerplay .timeemusic { 
    font-size: 12px;
    line-height: 1rem;
    color: #71717a;
    margin-top: 15px;
  }
  
  .footer .playmusic .slicerplay .progrecemusic { 
    height: 4px;
    width: 390px;
    border-radius: 9999px;
    background-color: #71717a;
    margin-top: 15px;
  }
  
  .footer .playmusic .slicerplay .progrecemusic .timedecorrido { 
    background-color: white;
    width: 250px;
    height: 4px;
    border-radius: 9999px;
    margin-right: -30px;
  }
  
  
  .footer .buttonaxiliares{
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .footer .buttonaxiliares div {
    display: flex;
    align-items: center;
    gap: 10px;
   }
  
  .footer .buttonaxiliares div .volume {
    display: flex;
    height: 4px;
    width: 90px;
    align-items: center;
    border-radius: 9999px;
    background-color: #71717a;
  }
  
  .footer .buttonaxiliares div .volume .volumeup { 
    display: flex;
    background-color: white;
    align-items: center;
    width: 50px;
    height: 4px;
    border-radius: 9999px;
    margin-right: -30px;
  }