.page { 
  height: 100vh;
  display: flex;
  flex-direction: column;
  
}

.sidebar {
  display: flex;
  flex: 1 1 0%;
}

.sidebar aside {
  width: 16rem;
  background-color: #000000;
  padding: 1.5rem;
}

.sidebar aside nav {
  display: flex;
  flex-direction: column;
}

.sidebar aside nav a { 
  display: flex;
  color: #ffffff;
  text-decoration: none;
  align-items: center;
  margin: 10px;
}

.icon {
  padding-right: 5px;
}

.main {
   flex: 1 1 0%;
   padding: 1.5rem;
}

.footer {
  background-color: #000000;
  border-top: #1a1919;
  padding: 1.5rem;
}